```{=html}
<% items.sort(function(a,b){return new Date(b.date) - new Date(a.date)}) %>
<% var cutoffDate = new Date() %>
<% cutoffDate.setDate(cutoffDate.getDate() - 90) %>
<% var currentMonth = 0 %>
<% var currentYear = 0 %>
<table>
<% for (const item of items) { %>
    <% var itemDate = new Date(item.date) %>
    <% var itemMonth = itemDate.toLocaleString("en-US", { month: "long" }) %>
    <% var itemYear = itemDate.getFullYear() %>
    <tr>
    <td class="month">
    <% if (itemMonth != currentMonth) { %>
        <% currentMonth = itemMonth %> 
        <b><%= currentMonth %><br><%= itemYear %> </b>
    <% } %>
    </td>
    <td class="news-item"> <%= item.text %> </td>
    </tr>
<% } %>
</table>
```